.jumbotron {
    background-color:#4527a0;
    color: white;
}

footer {
    padding: 20px 10px 0px 10px;
    background-color:#4527a0;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-hotel{
    flex: 1 250px;
    padding: 2px 5px 2px 5px;

    flex-direction: column;
    justify-content: space-between;
}

.btn-reserva{
    width:100%;
}

.rrss{
    padding: 0px 8px 0px 8px;
    color: #ffb300;
}
.titulors a{
    color: #ede7f6;
}

.secciones{
    display: flex; 
    flex-direction: flex-column; 
    
}
a {
    color:#ede7f6;
}
address{
    color: #ede7f6;
}

.info{
    color: #ede7f6;
    padding-bottom:25px;
}